.header__container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 8%, 95%);
    border-bottom: 4px solid green;
}

.header__logo {
    width: 13rem;
    height: 3.5rem;
}

.header__centerText {
    margin: auto;
    font-style: italic;
    font-size: 2rem;
    color: blueviolet;
    font-weight: 400;
}

.header__container button {
    cursor: pointer;
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid #660066;
    border-radius: 10px;
    margin: 10px;
    line-height: 20px;
    font-size: 16px;
    color: #660066;
    font-weight: 800;
}